
@font-face {
    font-family: Inter;
    src: url(/src/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf);
}

@font-face {
    font-family: Inconsolata;
    src: url(/src/assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: Lora;
    src: url(/src/assets/fonts/lora/Lora-VariableFont_wght.ttf);
}


body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Inter, sans-serif;

}

.app-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


.dark-mode-active {
    background-color: #050505 ;
    color: white;
}

.lora-font-theme {
    font-family: Lora, serif;
}

.inconsolata-font-theme {
    font-family: Inconsolata, monospace;
}